body {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    width: 1150px;
    height: 780px;
    margin: auto;}

*{box-sizing: border-box;}

header {background: #7e1d1d;
    color: white;
    text-align: center;}

nav {background: rgb(35, 23, 35);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;}

.coordonnees_contact {display: flex;
    justify-content: space-between;
    text-align: left;}

.contenu{width: 1150px;
    display: flex;}
    
.partie_gauche {display: block;
    width: 350px;
    background: #7e1d1d;
    padding-top: 5px;
    padding-right: 50px;
    color: white;}
    
.partie_droite {display: block;
    width: 800px;
    padding-top: 5px;
    border-right: solid black 2px;
    padding-left: 30px;
    padding-right: 20px;}

.texte_apropos {
    text-align:justify;
    text-indent: 30px;
    padding-left: 15px;
    padding-bottom: 20px;}
    
.langues_parlees {padding-bottom: 5px;}
    
h3 {background: rgb(210, 186, 154);
    text-indent: 15px;
    padding-right: 50px;
    height: 30px;    
    color: black;
    padding: 5px;}

.partie_droite h3 {
    background-color: rgb(210, 186, 154);
    border-left: 7px solid #7e1d1d;}

footer {display: block;
    background: #7e1d1d;
    height: 125px;
    color: white;
    text-align: center;
    padding-top: 20px;}
    
.icone {padding-bottom: 20px;
    margin: 0 5px ;}
    
footer img {border-radius: 10px;}

header img {border-radius: 100px;
    box-shadow: 10px 10px #7e1d1d, -10px -10px #7e1d1d;}
    
    
    
    
    