body {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    width: 1150px;
    height: 780px;
    margin: auto;}

*{box-sizing: border-box;}

header {background: #7e1d1d;
    color: white;
    text-align: center;}

nav {background: rgb(35, 23, 35);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;}

.coordonnees_contact {display: flex;
    justify-content: space-between;
    text-align: left;}

.contenu{width: 1150px;
    display: flex;}
    
.partie_gauche {display: block;
    width: 350px;
    background: #7e1d1d;
    padding-top: 5px;
    padding-right: 50px;
    color: white;}
    
    .partie_droite {display: block;
        width: 800px;
        padding-top: 5px;
        border-right: solid black 2px;
        padding-left: 30px;
        padding-right: 20px;}